.gif-container {
  width: 98vw;
  height: 98vh;

  display: flex;
  flex-wrap: wrap;

  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    background-color: var(--light);
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    background-color: var(--light);
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 10px;
  }
}

