* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background: rgba(122, 153, 217, 0.2);

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  .col-xl-3, .col-md-4, .col-6 {
    padding-left: 0;
  }
}
@media screen and (max-width: 800px) {
  #root {
    font-size: 14px;   
  }
}
@media screen and (max-width: 600px) {
  #root {
    font-size: 8px;
  }
}